.homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.homepage__navWraper {
  position: relative;
  flex: 0.2;
}

.homepage__timeline {
  flex: 0.8;

}


@media  (max-width: 768px){
  .homepage__timeline {
    position: relative;
    right: 100px;
  }
}

@media  (max-width: 425px){

  .homepage__timeline {
    right: 50px;
  }
}
